@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Catamaran', sans-serif;
}

#welcome-section {
  background: url('img/66-663189_purple-space-background.jpg');
  height: 100vh;
  width: 100%;
}

.box1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 10rem;
}

.white {
  color: white;
  font-size: 6rem;
  margin-left: 200px;
  font-weight: 700;
  font-family: 'Catamaran', sans-serif;
}

.purple {
  color: #DB00FF;
  font-size: 6rem;
  margin-left: 220px;
  font-weight: 700;
  font-family: 'Catamaran', sans-serif;
}

#icon {
  color: #8000FF;
  font-size: 2.8rem;
  margin-left: 10px;
  margin-top: 10px;
  position: fixed;
  z-index: 50;
  cursor: pointer;
}

a {
  text-decoration: none !important;
  color: white !important;
}

#navbar {
  background: #8000ffa1;
  position: fixed;
  z-index: 1;
  transition:ease-in-out 1s;
  overflow-x: hidden;
  
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 30px;
  font-size: 3rem;
 
}

.planet {
  width: 400px;
  height: 400px;
}

#second-bg {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.479);
}

#second-bg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('img/66-663189_purple-space-background.jpg');
  transform: scaleX(-1) rotate(180deg);
  z-index: -1;
}

h1 {
  color: #DB00FF;
  font-size: 5rem;
  font-weight: 700;
}


#projects{
  height: 100vh;
  background-image: url('img/66-663189_purple-space-background.jpg');
}

#last-bg {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#last-bg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('img/66-663189_purple-space-background.jpg');
  transform: scaleX(-1) rotate(180deg);
  z-index: -1;
}

.joo {
  font-size: 7rem;
}


h3 {
  color: white;
  font-size: 5rem;
}

.full {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.left {
  width: 40%;
  display: flex;
  justify-content: center;
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}

#third-bg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#third-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: 100vh;
  padding: 2rem 10rem 2rem 10rem;
}

.box4 {
  background: rgba(0, 0, 0, 0.541);
  height: 100vh;
  width: 100%;
  text-align: center;
}

.neråt {
  margin-top: 100px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 2.5rem;
}

.box5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  width: 100%;
  text-align: start;
  padding-left: 3rem;
}

label {
  color: #DB00FF;
  font-size: 1.7rem;
  font-weight: bold;
}

#sizeadjust{
  font-size: 1.2rem;
  width: 110px;
} 

input {
  width: 60%;
  height: 50px;
}

form {
  width: 60%;
}

.move {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.icons {
  display: flex;
  gap: 40px;
  width: 200px;
}

a:hover {
  color: #DB00FF !important;
  border-bottom: #DB00FF 4px solid;
}

::-webkit-scrollbar {
    width: 10px;
    height: 80px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(235, 42, 235);
    border-radius: 20px;
    border: 6px solid transparent;
  }

@media only screen and (max-width: 500px) {
    .neråt {
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    #third-box {
      padding: 0px;
    }
    .joo {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    #planet2 {
      display:none;
    }
    #planet {
      display: none;
    }
    #second-bg {
      padding-right: 4.6rem;
    }
    .right {
      width: 100%;
    }
    .name {
      width: 100%;
    }
    .white {
      margin-left: 0px;
      font-size: 3rem;
    }
    .box1 {
      justify-content: center;
      align-items: center;
      padding: 1.2rem;
    }
    .purple {
      margin-left: 0px;
      font-size: 2.4rem;
      text-align: center;
    }
    .box5 {
      align-items: flex-start;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .mb-3 {
      margin-top: 2rem;
    }
    form {
      width: 100%;
    }
}

